:root{
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.contenedor-body{
    background-color: var(--Light-gray);
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    justify-content: center;
    font-size: 15px;
}

.tag{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    background-color: var(--White);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 15px;
    flex-direction: column;
}

.contenedor-header{
    width: 90%;
    height: auto;
}

.qr{
    width: 100%;
    border-radius: 10px;
}

.contenedor-main{
    padding-top: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.texto-1{
    color: var(--Dark-blue);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.texto-2{
    color: var(--Grayish-blue);
    font-weight: 400;
}
